{% extends "layout.html" %}

{% block title %}
    Deposit
{% endblock %}

{% block main %}
    <form action="/deposit" method="post">
        <div class="mb-3 fw-bold">
            Deposit: At least $1
        </div>
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="cash" placeholder="Amout" type="number" min="1" step="0.01">
        </div>
        <button class="btn btn-primary" type="submit">Add</button>
    </form>
{% endblock %}
